<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Amazing app to help you find nearest MBTA station</title>
  </head>

  <body>
    <img src="https://previews.123rf.com/images/artrosestudio/artrosestudio1701/artrosestudio170100002/69824162-oops-speech-bubble-in-retro-style-vector-illustration-isolated-on-white-background.jpg" height="100"
    alt="Oops">
    <h1>Ooops</h1>
    <p> No nearby stations are found.</p>
    <a href="/find/">Back to Homepage</a>
    
  </body>
</html>